.container h1{
    color: white;
}

/* headDiv */
#headDiv{                       /*This is shared between 1st Div of landing and about us page*/
    border-radius: 15px ;
    height: 600px;
    background-color: #041228;
    border: 2px solid #002766;
}

#headDiv1{
    display: flex;
    align-items: flex-end;
}

#headDiv2{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

img{
    width: 100%;
}

#headContent{
    color: white;
    letter-spacing: 2px;
    padding-left: 30px;
}
#headContent h1{
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 700;
}
#headContent h2{
    font-size: 35px;
    letter-spacing: 10px;
    font-weight: 600;
}
#headContent p{
    font-size: 15px;
    font-weight: 700;
}

#CardGroup{
    margin-bottom: 30px;
}

/* Card */
#colCard{
    display: flex;
    justify-content: center;
}

/*Space*/
#space{
    height: 50px;
}

/* Get Started Button */
#getStartBtn{
    color: white;
    font-weight: lighter;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#getStartBtn a{
    text-decoration: none;
    border : 1px solid #041228;
    padding: 5px 15px 5px 15px;
}
#getStartBtn a:hover{
    color: white;
    border : 1px solid white;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
}

/* About Us Page */
#aboutUsHeadDiv{
    border-radius: 15px ;
    background-color: #041228;
    border: 2px solid #002766;
}
#aboutheadDiv1 h1{
    letter-spacing: 2px;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}
#aboutheadDiv2 h3{
    color: white;
}
#aboutheadDiv2 p{
    color: lightblue;
}

#IDCard{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


/* Contact Us page */
#contactUsHeadDiv{
    border-radius: 15px ;
    background-color: #041228;
    border: 2px solid #002766;
}
#contactUsHeading{
    text-align: center;
    letter-spacing: 3px;
}

/* Contact Us form*/
.form-control{
    background-color:#0E2744;
    color:white ;
    border: 2px solid gray;
}

#contactBtn{
    background-color:#3AC8DB;
    border: 2px solid #3AC8DB;
    padding: 10px;
    width: 100px;
    color:white;
    border-radius: 50px;
}

/* Blog page */
#blogHeadDiv{
    border-radius: 15px ;
    background-color: #041228;
    border: 2px solid #002766;
    padding: 20px 10px 30px 10px;
}
#blogHeading{
    text-align: center;
    letter-spacing: 3px;
    padding: 0 10px 10px 10px;
}
#blogheadDiv2 p{
    color:white;
    padding: 0 40px 30px 40px;
}

/* Blog Post page */
#blogPostHeadDiv{
    border-radius: 15px ;
    background-color: #041228;
    border: 2px solid #002766;
    padding: 20px 10px 30px 10px;
}
#blogPostHeading h2{
    color: #fff;
    padding: 20px 10px 10px 30px;
}
#blogPostheadDiv2 p{
    color: #fff;
    padding: 0 40px 30px 40px;
}
#blogPostBody p{
    font-size: 15px;
}

/* Department Page */
#departmentHeadDiv{
    border-radius: 15px ;
    background-color: #041228;
    border: 2px solid #002766;
    padding: 20px 30px 30px 30px;
}

#departmentHeadDiv h1{
    text-align: center;
}

#departmentHeadDiv p{
    color: lightblue;
}


/* Study Resource Page */
#studyResoCards{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}


/* Dashboard */
#dashHeading{
    
}
#dashHeading .dashIcon{
    border: 1px solid white;
    border-radius: 50%;
    width:35px;
    height: 35px;
    padding: 1px 0 2px 7px;
}

#panel{
    border: 2px solid #002766;
    background-color: #041228;
    border-radius: 15px;  
    padding: 50px; 
}
#panel .dashIcon{
    width: 20%;
}
#panel .dashIcon img{
    border-radius: 50%;
    width: 150px;
    border: 3px solid #002766;
}
#panel .dashName{
    margin: auto;
    width: 80%;
}
#panel .dashName h2{
    color: white;
}
#panel .dashName p{
    color: gray;
    font-size: 15px;
    letter-spacing: 0.3px;
}

#saveAndBookmark{
    color: lightgray;
}
#saveAndBookmark #saveItem{
    height: 200px;
    border: 2px solid #002766;
    background-color: #041228;
    border-radius: 15px;
    margin-top: 30px;
    padding: 20px;
}
#saveAndBookmark #saveItem p{
    font-size: 14px;
    color: gray;
}
#saveAndBookmark #bookmarkItem{
    height: 200px;
    margin-top: 30px;
    padding-left: 20px;
}
#saveAndBookmark #bookmarkItem p{
    font-size: 14px;
    background-color: #041228;
    padding: 3px 0 3px 10px;
    border: 1px solid #002766;
    border-radius: 10px;
    margin: 5px 0 0 0;
    color: gray;
}


@media (max-width:800px) {
    #panel .dashIcon{
        width: 30%;
    }
    #panel .dashName{
        width: 70%;
    }
}
@media (max-width:500px) {
    #panel{
        padding: 20px;
    }
    #panel .dashName h2{
        font-size: 20px;
        font-weight: 700;
    }
    #panel .dashName p{
        font-size: 12px;
    }
    #panel .dashIcon{
        width: 40%;
    }
    #panel .dashIcon img{
        width: 120px;
    }
    #panel .dashName{
        width:60%;
    }
}


/* Error 404 Page */
#errorCont{
    display: flex;
    justify-content: center;
}
#errorCont img{
    padding-top: 50px;
    width: 60%;
    height: auto;
    
}
.errorBtn{
    padding: 70px;
    display: flex;
    justify-content: center;
}


/* Discussion Forum Page */
.DiscussionForumHead{
    border-radius: 15px;
    background-color: #041228;
    border: 2px solid #002766;
    margin-top: 25px;
    padding-top: 20px;
}

.DiscussionForumHead h1{
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.DiscussionForumHead p{
    padding: 30px 50px;
    color: lightblue;
}

.AskDiscussionQuestion{
    display: flex;
    margin: 20px 10px;
    justify-content: space-between;
    align-items: center;
    color: lightgray;
}

.AskDiscussionQuestion p{
    border: 1px solid #002766;
    background-color: rgb(192, 192, 192);
    color: #000;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}


/* Discussion forum Question and Answer */
#queAns{
    margin-top: 30px;
    color: #fff;
}

.queAnsQuestion{
    margin: 20px 0;
}

.contentFunctionality{
    display: flex;
    min-height: 130px;
}

.queAnsFunctionality{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 7px;
}

.queAnsContent p{
    font-size: 15px;
    color: lightgray;
}
